<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    
        <servlet>
            <servlet-name>cartAdd</servlet-name>
            <servlet-class>cartControl.cartAdd</servlet-class>
        </servlet>
        
        <servlet>
            <servlet-name>cartRemove</servlet-name>
            <servlet-class>cartControl.cartRemove</servlet-class>
        </servlet>
        
        <servlet-mapping>
            <servlet-name>cartAdd</servlet-name>
            <url-pattern>/cartAdd</url-pattern>
        </servlet-mapping>
        
        <servlet-mapping>
            <servlet-name>cartRemove</servlet-name>
            <url-pattern>/cartRemove</url-pattern>
        </servlet-mapping>
    
        <session-config>
            <session-timeout>
                20
            </session-timeout>
        </session-config>
</web-app>
